body {
    background-image: url('img/love4.png');
    font-family: Verdana, Geneva, sans-serif;
}



a {
    color: white;
}

a:hover {
    color: orange;
}



#wrapper {
    width: 800px;
    margin: auto;
    background-color: #990E0E; 
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #000000;
}


#highscores {
    position:fixed;
    top: 205px;
    right:0; 
	background-color: #990E0E; 
    color: white;
    padding: 10px;
	width: 250px;
	height: relative; 
	border-radius: 25px;
    border: 2px solid #000000;

}

#header {
    text-align: center;
    background-position: center;
    background-image: url('img/thirdlovelogo.png');
    background-repeat: no-repeat;
    padding-top: 200px;
    color: #fff;

}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

input[type=email] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

input[type=date] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

input[type=text]:focus {
    border-color: #262626;
}

input[type=submit] {
    padding:5px 15px; 
    background: #262626; 
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #fff;

}

label {
    padding:5px 15px; 
    background: #262626; 
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #fff;
    font-family: verdana;
    size: 10pt;

}


.discription {

	width: 330px;
	height: 100px;
}

.profilepic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}