body {
    background-color: #666;
    font-family: lato, arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.right {
    background-color: #990e0e;
    width: 300px;
    padding: 20px;
    margin: 20px;
    margin-left: 190px;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 11pt;
}

.left {
    background-color: #000;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    width: 300px;
    border: 1px solid #777;
    border-radius: 25px;
    font-size: 11pt;
}

#chatheader {
    position: relative;
    left: 45%;
    width: 100%;
    color: white;
    padding: 5px;
    font-size: 11pt;
}

#messages {
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
}


#wrapper2 {
    position: relative;
    width: 560px;
    margin: auto;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #000;

}

#wrapper {
    width: 800px;
    margin: auto;
    background-color: #990E0E; 
    color: white;
    padding: 10px;
    border-radius: 25px;
}


.input {
    height: 36.4px;
    width: 472px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    border: 1px solid #000;
    border-radius: 25px;
}

.send[type=submit] {
    height: 30px;
    width: 37px;
    background-image: url('send.png');
    background-color: white;
    border-style: none;
    color: white;
    margin-left: 11px;
    margin-top: 15px;
    font-size: 15pt;
}

.send:hover {
    cursor: pointer;
    background-image: url('sendhover.png');
    background-color: white;
}

li {
    width: 560px;
    list-style-type: none;
    position: relative;
    float: left;
}